<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="btl_qlbh" connectionString="Data Source=DESKTOP-VFMJLSI\SQLEXPRESS01;Initial Catalog=BTL_QLBanHang;Integrated Security=True"
			 providerName ="System.Data.SqlClient"></add>
	</connectionStrings>
</configuration>